<!-- <lib-sidebar-common></lib-sidebar-common> -->
<!-- <mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" [(opened)]="opened">
      Sidenav content
    </mat-sidenav>

    <mat-sidenav-content>
      <p><button mat-button (click)="sidenav.toggle()">sidenav.toggle()</button></p>
      <h1>Hi Mohan</h1>
    </mat-sidenav-content>
  </mat-sidenav-container> -->

  <mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side">
      Sidenav content
    </mat-sidenav>
  
    <mat-sidenav-content>
      <p><button mat-button (click)="sidenav.toggle()">Toggle Sidenav</button></p>
      <h1>Hi Mohan</h1>
    </mat-sidenav-content>
  </mat-sidenav-container>

<router-outlet></router-outlet>